#GameBoard {
	position: relative;
	display: flex;
	justify-content: center;
}

#GameBoard canvas, #overlay {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Play-Btn {
  width: 12vmin;
  height: 12vmin;
  position: absolute;
  padding-top: 45em;
}
